
.navbar {
    position: relative;
    min-height: 10px;
    margin-bottom: 1px;
    border: 1px solid transparent;
}

.carousel-content {
    height: 600px;
    width: 1700px;
}


.footer {
	background-color: #1d1dc3;
	color: white;
	margin-top: 60px;
}
.about {
    text-align: right;
}